@use "sass:math";

.checkbox {

  display: block;

  input {

    display: none;

    + label {

      display: block;

      font-size: math.div(15, 16) * 1rem;
      font-weight: 400;

      line-height: math.div(25, 15) * 1em;
      letter-spacing: 0;

      color: map_get( $colors, 'dark' );

      cursor: pointer;

      &::selection {

        background: none;

      }

      user-select: none;

      &:before {

        content: '';

        display: inline-block;

        vertical-align: middle;

        margin-right: 10px;

        width: 30px;
        height: 30px;

        border-radius: 100%;

        border: solid 2px #c3daff;

        background-color: rgba(59, 134, 255, 0.2);

        transition: background-color 0.225s ease-in-out, border 0.225s ease-in-out;

      }

      &:hover, &:focus {

        &:before {

          border-color: map-get( $colors, 'button' );

        }

      }

    }

    &:checked {

      + label {

        &:before {

          background-color: transparent;

          border: solid 10px map-get( $colors, 'button' );

        }

        &:hover {

          &:before {

            background-color: transparent;

            border: solid 10px map-get( $colors, 'button' );

          }

        }

        &:focus {

          &:before {

            background-color: transparent;

            border: solid 10px map-get( $colors, 'button' );

          }

        }

      }

    }

  }

  &--disabled {

    input {

      + label {

        cursor: not-allowed;

      }

    }

  }

}


.checkboxes {

  margin-right: -15px;
  margin-bottom: -15px;

  .checkbox {

    display: inline-block;

    margin-right: 15px;
    margin-bottom: 15px;

  }

}
