@use "sass:math";

#portal {

  overflow: hidden;

  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .portal__wrapper {

    height: 100%;

    display: flex;

    justify-content: center;
    align-items: stretch;

    flex-wrap: wrap;

  }

  .portal__image, .portal__page {

    flex: 1 1;

    min-width: 260px;

  }

  .portal__inner {

    max-width: 100%;
    width: 520px;

    margin: 0 auto;

  }

  .portal__image {

    position: relative;

    img {

      position: absolute;

      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center center;

    }

  }

  .portal__page {

    background-color: #ececec;

    padding: 107px 30px;

  }

  .portal__header {

    margin-bottom: 20px;

    text-align: center;

  }

  .portal__title {

    margin: 0;
    padding: 0;

    font-size: math.div(35, 16) * 1rem;
    font-weight: 700;

    line-height: math.div(50, 35) * 1em;
    letter-spacing: math.div(7, 35) * 1em;

    color: map-get( $colors, 'dark' );

    text-transform: uppercase;

  }

  .portal__logo {

    display: inline-block;

    img {

      max-width: 100%;
      width: 72px;
      height: auto !important;

    }

    margin-bottom: 55px;

  }

}
