.moda-match-align--center {

  text-align: center !important;

}

.moda-match-align--right {

  text-align: right !important;

}

.moda-match-align--left {

  text-align: left !important;

}

.moda-match-float--left {

  float: left;

}

.moda-match-float--right {

  float: right;

}