.moda-match-app-content {

  padding-left: 30px;
  padding-right: 30px;

}

.moda-match-app-inner {

  padding-top: 15px;

  .moda-match-tabs {

    margin-top: -15px;

  }

}

.moda-match-contained {

  padding-left: 30px;
  padding-right: 30px;

}
